.top {
    width: var(--room-width);
    height: var(--room-depth);
    transform-origin: center center;
    transform: translateY(calc(-1 * var(--room-height) / 2)) rotateX(90deg);
    background: linear-gradient(to bottom, #999, #666);
}

.bottom {
    width: var(--room-width);
    height: var(--room-depth);
    transform-origin: center center;
    transform: translateY(calc(var(--room-height) / 2)) rotateX(-90deg);
    background: linear-gradient(to top, #999, #666);
}
